*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #F1F1F3;
}

/* bg color */
.bg-color{
    background-color: #F1F1F3;
}
/* overall margin */
.margin-total{
    margin: 0px 160px 0px 160px;
}
/* font */
.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-style: normal;
  }
  /* shared style */
  .topic-title{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bolder;
  }

/* Navigation section */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 31px;
}

nav h1{
    font-size: 32px;
    color: #0E0E0E;
    font-weight: bolder;
    cursor: pointer;
}

nav button{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: #006A50;
    background-color: rgba(255, 240, 240, 0);
    border: 1px solid #006A50;
    border-radius: 8px;
    cursor: pointer;
}

nav button:hover{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: white;
    background-color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    cursor: pointer;
}

/* Hero section */
.hero{
    background-color: #C6E4D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    border-radius: 24px;
    margin-top: 45px;
}
/* .hero-text{
    padding: 117px 0px 170px 60px;
} */
.hero-title{
    color: #0E0E0E;
    opacity: 50%;
    margin-bottom: 16px;
}
.hero-description{
    font-size: 56px;
    margin-bottom: 24px;
}
.hero button{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    padding: 17px 34px;
    border-radius: 8px;
    cursor: pointer;
}

.bd-pc{
    width: 400px;
}

/* Pillar section styles */
.pillar-part{
    margin-top: 80px;
}
.pillar-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    gap: 24px;
}


.pillar-item img{
    margin-bottom: 24px;
}
.pillar-item h3{
    margin-bottom: 12px;
}

.card-title{
    font-size: 20px;
    color: #0E0E0E;
    font-weight: bold;
    opacity: 80%;
}
.card-description{
    color: #0E0E0E;
    opacity: 70%;
}

.card-style{
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.pillar-item .card-style:hover{
    background-color: #d6f1e5;
}

/* vision part */
.vision-part{
    margin-top: 80px;
}
.vision-part h1{
    margin-bottom: 24px;
}
.vision-part .card-1{
    border: none;
    background-color: rgba(84, 144, 245, 0.2);
}
.vision-part .card-1 button{
    color: white;
    background-color: #5490F5;
}
.vision-part .card-2{
    border: none;
    background-color: #C6E4D6;
}
.vision-part .card-2 button{
    color: white;
    background-color: #09A15C;
}
.vision-part .card-3{
    border: none;
    background-color: #F7EBCF;
}
.vision-part .card-3 button{
    color: white;
    background-color: #FFC239;
}

.btn-learn-more{
    font-weight: bold;
    padding: 11px 20px;
    margin-top: 64px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/*Dr. Muhammad Yunus */
.drm-yunus{
    margin-top: 32px;

}

.quote{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    /* padding: 40px 20px; */
}

.drm-ynus-quote{
    padding-top: 35px;
    margin-bottom: 12px;
}
.drm-ynus-quote h3{
    margin-bottom: 4px;
}
.position{
    padding-bottom: 35px;
}


/* opinion-part section table style */
.opinion-part{
    margin-top: 80px;
}

.question-color{
    opacity: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
th{
    background-color: #e7f4e4;
    border: 1px solid rgba(9, 161, 92, 0.15);
    color: #333;
    padding: 24px;
    border-bottom: 2px solid #ddd;
    text-align: left;
}
td{
    border: 1px solid rgba(9, 161, 92, 0.15);
    padding: 35.5px 24px;
}


.options{
    padding: 12.5px 16.5px;
    background-color: rgba(9, 161, 92, 0.15);
    border: 1px solid #0E0E0E;
    border-radius: 4px;
    /* text-align: center; */
}

.option-container{
    text-align: center;
}


/* news-part section */
.news-part{
    margin-top: 80px;
}

.news-part h1{
    margin-bottom: 12px;
    font-size: 32px;
    color: #0E0E0E;
    font-weight: bold;
    opacity: 80%;
}

.news-container{
    display: flex;
    padding: 48px;
    align-items: center;
}

.news-part img{
    border-radius: 24px;
    margin-right: 32px;
    overflow: hidden;
}

.news-part button{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    padding: 17px 34px;
    border-radius: 8px;
    cursor: pointer;
}

.al-jazira-img{
    margin-bottom: 12px;
}

.news-part .date-time {
    margin-bottom: 12px;
}
.news-part .news-article {
    margin-bottom: 32px;
    overflow: hidden;
}

/* donate section */

.donate-part{
    margin: 80px 160px 0px 160px;
    text-align: center;
}
.donate-part h1{
    margin-bottom: 40px;
}

.donate-part p{
    margin-bottom: 32px;
}

.donate-tk{
    font-size: 40px;
    color: #0E0E0E;
    font-weight: bold;
    opacity: 80%;
    padding: 40px;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.donate-tk:hover{
    background-color: #C6E4D6;
}

.amounts{
    display: flex;
    justify-content: space-between;
}

#other-amount{
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-bottom-color: rgba(14, 14, 14, 0.15);
    font-size: 20px;
    text-align: center;
}

.amount-container{
    margin: 0px 124px 24px 124px;
}

.donate-btn{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    padding: 17px 34px;
    border-radius: 8px;
    cursor: pointer;
}

/* Newsletter part */
.newsletter{
    margin-top: 80px;
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 24px;
}

.newsletter h1{
    margin-bottom: 16px;
    font-size: 32px;
    color: #0E0E0E;
    font-weight: bolder;
}
.newsletter p{
    margin-bottom: 24px;
}

.nl-container{
    padding: 80px 265px;
}

.nl-submit{
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: center;
    
    /* margin: 0px 265px 0px 265px; */
}

.newsletter .not-spam {
    margin-top: 24px;
}
.nl-submit input[type="email"]{
    border: none;
    width: 100%;
    padding: 18px 0px 18px 24px;
    border-radius: 10px 0px 0px 10px;


}

.nl-submit input[type="submit"]{
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0px 10px 10px 0px;
    color: #FFFFFF;
    background-color: #006A50;

}


/* footer part */
footer{
    margin-top: 80px;
    text-align: center;
    background-color: white;
    padding-bottom: 50px;
}
footer h1{
    padding-top: 50px;
    font-size: 32px;
    color: #0E0E0E;
    font-weight: bolder;
}
footer hr{
    margin: 32px 240px;
}
.insta{
    padding:0px 23px;
}
